@model IEnumerable<Learninator.Models.Link>

@{
    ViewData["Title"] = "Index";
}

<h1>Links</h1>

<p>
    <a asp-action="CreateAjax" asp-route-createMany="false" class="btn btn-info" style="width:200px; height: 70px; font-size:24pt;">Create one</a>
    <a asp-action="CreateAjax" asp-route-createMany="true" class="btn btn-info" style="width:250px; height: 70px; font-size:24pt;">Create many...</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Tags
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @foreach (var tag in item.LinkTags)
                    {
                        @Html.DisplayFor(modelItem => tag.Tag.Name)
                        if (item.LinkTags.Count > 1)
                        {
                            @Html.Raw(",&nbsp;")
                        }
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="EditTags" asp-route-id="@item.Id">Edit tags</a>
            </td>
        </tr>
}
    </tbody>
</table>
